<!DOCTYPE html>
<html ng-app="myApp">
	<head>
	    <meta charset="utf-8">
		<title>Cuaderno Alumnos</title>
		<link rel="stylesheet" type="text/css" href="styles.css">
	
   	</head>
	<body ng-controller="Alumnos as alumno">
        <h1>Cuaderno Alumnos</h1>	
	    <div class="wrapper">
			<div  class="contact-item" ng-repeat="alumno in alumnos | orderBy:'curso'">
				<div class="nombre"> {{alumno.nombre}} - {{alumno.telefono}}</div>
				<span class="curso">{{alumno.curso}} </span>
			</div><!--class="contact-item"-->
	    </div><!--class="wrapper"-->
	    <br>
	    <center><button ng-click="ShowForm()" ng-hide="formVisibility">Anadir Contacto</button></center>
	    <div ng-show="formVisibility" class="wrapper">
	    	<h2>Anadir un Contacto</h2>
	    	Nombre: <input type="text" ng-model="nuevoAlumno.nombre"></input>
	    	Telefono: <input type:"text" ng-model="nuevoAlumno.telefono"></input>
	    	Curso: <input type:"text" ng-model="nuevoAlumno.curso" ></input>
	    	<button ng-click="Save()">Guardar</button>
	    </div>
	

		<script src= "https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.min.js"></script>
		<script src= "main.js" type="text/javascript"></script>
		<script src= "MainController.js" type="text/javascript"></script>
	</body>
</html>